html {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    color: #333333;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    /*background-color: #555;*/
    background-image: url(../img/f35L2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20rem;
    display: flex;
    align-items: flex-end;
    border-bottom: 1rem solid #000;
}
.container-top-news {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 0.6rem;
    width: 100%;
}
.container-top-news-top-news {
    width: 85%;
}
.container-top-news-top-news span {
    font-weight: 900;
    color: #7a0000;
}
.container-top-news-button-read-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 13%;
    font-size: 0.8rem;
}
.container-top-news-button-read-more a {
    padding: 10px 15px;
    background-color: #7a0505;
    color: white;
    text-decoration: none;
    display: flex;
}
.wrap-container {
    display: flex;
}
.left-section {
    width: 67%;
}
.card-news {
    padding-top: 2rem;
}
.card-news-title {
    font-weight: 900;
    color: #7a0000;
    font-size: 1.3rem;
}
.card-news-title a {
    text-decoration: none;
    color: #7a0000;
}
.card-news-submited {
    font-style: italic;
    font-weight: 100;
}
.card-news-article {
    display: flex;
    padding: 0.7rem 0;
}
.card-news-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    min-width: 30%;
}
.card-news-image img {
    width: 100%;
    height: auto;
}
.card-news-news-text {
    padding-left: 0.7rem;
}
.card-news-footer {
    background-color: #7a0505;
    line-height: 2rem;
    color: white;
    font-size: 0.85rem;
    padding-right: 0;
}
.card-news-footer ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 1rem;
}
.card-news-footer ul li {
    list-style: none;
    font-weight: 100;
    padding: 0 0 0 0.5rem;
}
.card-news-footer ul li:first-child {
    list-style: none;
    padding-left: 0;
}
.card-news-footer ul a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.right-section {
    padding: 0 1rem 0 1.7rem;
    width: 33%;
    background-color: #fce9cd;
}
.right-section a {
    text-decoration: none;
    color: #960000;
    line-height: 1.5rem;
}
.authorization-form {
    padding-top: 2rem;
    display: flex;
}
.title {
    font-weight: 900;
    font-size: 1rem;
    color: #960000;
    padding-bottom: 0.5rem;
}
.authorization-form {
    font-weight: 900;
    font-size: 1rem;
}
.authorization-form span {
    vertical-align: super;
    font-size: 0.7rem;
    color: #960000;
}

.authorization-form input {
    border: none;
    line-height: 1.8rem;
}
.authorization-form-button-submit {
    padding-top: 1rem;
}
.authorization-form-button-submit input {
    background-color: #7a0505;
    color: white;
    text-decoration: none;
    left: 1.5rem;
    padding: 0 15px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.authorization-form-button-submit input:hover {
    cursor: pointer;
}
.new-account-and-password {
    padding-left: 2rem;
    align-self: flex-end;
    font-size: 1rem;
    flex-grow: 1;
}
.navigation {
    padding-top: 2rem;
}
.navigation li:first-child {
    list-style-type: none;
    position: relative;
}
.navigation li:first-child::before {
    content: "▶";
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -1.35rem;
    top: 0.2rem;
}
@media screen and (max-width: 992px) {
    .wrap-container {
        flex-wrap: wrap;
    }
    .left-section {
        width: 100%;
    }
    .right-section {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}
@media screen and (max-width: 576px) {
    html {
        font-size: 10px;
    }
}
