html {
    font-size: 20px;
}

.title {
    border-bottom: 1px solid #E5E5E5;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.container label {
    width: 250px;
    display: inline-block;
}

.container input {
    width: 350px;
    padding: 10px;
}